@import url('https://fonts.googleapis.com/css?family=Muli');

html{
	background: #f7f7f7;
}
body{
	font-family: 'Muli', sans-serif;
	background: white;
	max-width: 1000px;
	margin: 0 auto;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
header, footer{
	background: #333a40;
	color: white;
}
.product{
	border: 1px solid gray;
	width: 200px;
	margin: 5px;
	padding: 5px;
}
img{
	max-width: 100%;
}